**Movie Recommenndation System**
Recommendation system are one of the most popular application in retail, video, music streaming.

I have contructed TF-IDF matrix  and pickle it to build a application and display the recommended movies in UI

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from math import sqrt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

MovieLens Dataset

In [ ]:
!unzip /content/drive/MyDrive/movciesdataset/ratings.csv.zip

Archive:  /content/drive/MyDrive/movciesdataset/ratings.csv.zip
  inflating: ratings.csv

In [ ]:
# Reading ratings file
ratings = pd.read_csv('/content/ratings.csv', sep=',', encoding='latin-1', usecols=['userId','movieId','rating','timestamp'])

# Reading movies file
movies = pd.read_csv('/content/drive/MyDrive/movciesdataset/movies.csv', sep=',', encoding='latin-1', usecols=['movieId','title','genres'])

Term Frequency (TF) and Inverse Document Frequency (IDF):

TF-IDF is a popular approach used to weigh terms for NLP tasks because it assigns a value to a term according to its importance in a document scaled by its importance across all documents.

TF-IDF(d,t) = TF(d,t) * IDF(t)

	TF(d,t) = 0				                if freq(d,t)=0

		      = 1+log(1+log(freq(d,t)))	 otherwise

	IDF(t) =log( (1+d) /dt )

In [ ]:
# Define a TF-IDF Vectorizer Object.
tfidf_movies_genres = TfidfVectorizer(token_pattern = '[a-zA-Z0-9\-]+')

#Replace NaN with an empty string
movies['genres'] = movies['genres'].replace(to_replace="(no genres listed)", value="")

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_movies_genres_matrix = tfidf_movies_genres.fit_transform(movies['genres'])
# print(tfidf_movies_genres.get_feature_names())
# print(tfidf_movies_genres_matrix.shape)
cosine_sim_movies = linear_kernel(tfidf_movies_genres_matrix, tfidf_movies_genres_matrix)
# print(cosine_sim_movies)

In [ ]:
movies_data = movies.copy()

In [ ]:
movies_data.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
ratings.head()
rating_data = ratings.copy()

In [ ]:
rating_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
rating_data = rating_data.drop(columns=['userId', 'timestamp'])

In [ ]:
rating_data.head()

   movieId  rating
0        1     4.0
1        3     4.0
2        6     4.0
3       47     5.0
4       50     5.0

In [ ]:
movies_data_title = movies_data.copy()

In [ ]:
movies_data_title = movies_data_title.drop(columns=['genres'])

Merging movies and rating data

In [ ]:
merge_ratings_movies = pd.merge(movies_data_title, rating_data, on='movieId', how='inner')

In [ ]:
merge_ratings_movies.head()

   movieId             title  rating
0        1  Toy Story (1995)     4.0
1        1  Toy Story (1995)     4.0
2        1  Toy Story (1995)     4.5
3        1  Toy Story (1995)     2.5
4        1  Toy Story (1995)     4.5

Getting the list of movies in the dataset

In [ ]:
movies_list = movies_data.drop(columns=['genres'])

Pickle the cosine similarity matrix and movie and saved as .pkl file and used in web application.

In [ ]:
import pickle

In [ ]:
pickle.dump(movies_list,open('movie_list.pkl','wb'))
pickle.dump(cosine_sim_movies,open('similarity.pkl','wb'))